/* Styles for the external CSS file*/
body {
    font-family:Arial, sans-serif;
    background-color: rgb(244, 244, 153);
    margin: 0;
    padding: 0;
}
h1 {
    color: white;
    text-align: center;
    margin-top: 20xp;
}
p {
    color: white;
    line-height: 1.6;
    padding: 0 20xp;
}